Source: libtext-csv-euclid-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 7), perl (>= 5.10) | libmodule-build-perl
Build-Depends-Indep: perl, perl-modules (>= 5.9.0)
Maintainer: Ryan Conrad Thompson <ryan@>
Standards-Version: 3.8.3
Homepage: http://search.cpan.org/dist/Text-CSV-Euclid/

Package: libtext-csv-euclid-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, perl-modules (>= 5.9.0)
Description: Provide a csv parser with options specified on the
 Provide a csv parser with options specified on the
 .
 This description was automagically extracted from the module by dh-make-perl.
